// Custom variables
@import "variables";

.chambersbackgroundg {
  background: linear-gradient($color-gray 510px, white 15px);
}

.cover {
  margin-top: 62px;
}

.box {
  margin-top: -46px;
  background-color: $color-gray;
  padding: 8px 14px 2px 14px;
}

h1 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 2.1em;
  color: $color-black_min;
  // text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  margin-bottom: 12px;
}

.info {
  text-align: center;
}

// .helloline {
//   font-family: 'Qanelas-Light', 'sans-serif';
//   font-size: 2.1em;
//   line-height: 140%;
//   color: white;
//   margin-bottom: 0.9rem;
// }


.specs {
  font-family: 'Qanelas-Light', 'sans-serif';
  font-style: normal;
  text-align: center;
  font-size: 1.8em;
  color: $color-black_min;
  margin-bottom: 36px;
  // border: 1px solid $color-black;
  // border-radius: 360px;
  // padding-top: 3rem;
  // padding-bottom: 3rem;
}

.specsbox {
  margin-top: 60px;
}

//
// a.tel, a.mail, .addr {
//   color: $color-black;
//   text-decoration: none;
//   transition: .2s;
//   display: flex;
//   justify-content: center;
// }

.icons {
  height: 4em;
  width: 4em;
  margin-top: 72px;
  margin-bottom: 28px;
}

.spacerchambers {
  height: 60px;
}

////////////////////////////////////////////////////////////////////////////////
//Responsive
////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1259px) {
  .box {
     margin-top: -150px;
   }
}

@media (max-width: 1199px) {
  h1 {
    font-family: 'Qanelas-Bold', 'sans-serif';
    font-size: 2.6em;
    margin-bottom: 1rem;
  }

  .helloline {
    font-family: 'Qanelas-Light', 'sans-serif';
    font-size: 1.8em;
    margin-bottom: 0.9rem;
  }

   .box {
      margin-top: -127px;
    }
}

@media (max-width: 851px) {
  .box {
     margin-top: -109px;
   }
}

@media (max-width: 851px) {
  .cover {
    margin-top: 50px;
  }
  .icons {
    margin-top: 48px;
  }
  .box {
    margin-top: 0;
  }
  h1 {
    font-family: 'Qanelas-Bold', 'sans-serif';
    font-size: 2.1em;
    margin-bottom: 0.8rem;
  }

  .helloline {
    font-family: 'Qanelas-Light', 'sans-serif';
    font-size: 1.8em;
    margin-bottom: 0.8rem;
  }
}
