// Custom variables
@import "variables";

.contactbackgroundg {
  background: linear-gradient(to bottom, $color-red 460px, white 60px);
}

.cover {
  position: relative;
}

.box {
  position: absolute;
  background-color: $color-red;
  height: 160px;
  width: 350px;
  top: 271px;
  left: 450px;
  padding: 15px;
}
.arrow {
  display: block;
  margin: 0 auto;
  padding-right: 200px;
}

h1 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 3.6em;
  color: white;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2.6rem;
}

.helloline {
  font-family: 'Qanelas-Light', 'sans-serif';
  font-size: 2.1em;
  color: white;
}

.tel, .mail, .addr {
  font-family: 'Qanelas-Light', 'sans-serif';
  font-style: normal;
  font-size: 1.8em;
  color: $color-black;
}

a.tel, a.mail, .addr {
  color: $color-black;
  text-decoration: none;
  transition: .2s;
  display: flex;
  justify-content: center;
}

a.tel:hover, a.mail:hover {
  color: $color-red;
  text-decoration: none;
}

.icons {
  height: 4em;
  width: 4em;
  margin-top: 72px;
  margin-bottom: 28px;
}



// .contactpage {
//   text-align: center;
//   margin-bottom: 1.8rem;
// }
// a.contactlinks, .styles {
//     font-family: 'Open Sans', 'sans-serif';
//     font-weight: 400;
//     font-style: normal;
//     font-size: 1.8rem;
//     line-height: 150%;
//     color: $color-black;
//     text-decoration: none;
//   }
//   a:hover {
//     color: $color-red;
//   }
//
//   .over {
//     font-style: normal;
//     color: $color-red;
//     margin-top: 35px;
//     margin-bottom: 20px;
//   }
