@import "variables";

footer {
  background-color: $color-gray;
  margin-top: 2px;
  height: 40px;
}

.footerlogo {
  background-image: url(img/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  height: 21px;
  width: 93px;
  margin-top: 10px;
}

p {
  margin: 0;
}

.copyright, .foterlink {
  font-family: 'Qanelas-Regular', sans-serif;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 9px;
}

.foterlink {
  margin-left: 4px;
}

.foterlink {
  color: $color-blue;
  text-decoration: none;
}

.foterlink:hover {
  color: darken( $color-blue, 5% );
  text-decoration: none;
  transition: .2s;
}

.fp {
  display: flex;
  justify-content: center;
}

.copyright:after {
  content: " | ";
}


@media (max-width: 380px) {
  .foterlink {
    display: none;
  }
  .copyright:after {
    content: "";
  }
}

@media (max-width: 283px) {
  .footerlogo {
    display: none;
  }
}
