@import "variables";

nav {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  height: 60px;
  border-bottom: 2px solid $color-gray;
  z-index: 1000;
}


.logo {
	background-image: url(img/logo.svg);
	background-repeat: no-repeat;
	height: 40px;
	width: 177px;
	float: left;
  margin-top: 1.1em;
  // margin-bottom: 0.9em;
  margin-left: 2.4em;
	cursor: pointer;
}

.logo:hover {
	background-image: url(img/logo_hover.svg);
	background-repeat: no-repeat;
  height: 40px;
	width: 177px;
  -webkit-transform: .2s;
  -moz-transform: .2s;
  -ms-transform: .2s;
  -o-transform: .2s;
  transform: .2s;
}

// .logoh:hover {
//   -ms-transform: rotate(360deg); /* IE 9 */
//     -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
//     transform: rotate(360deg);
// }

.topnav {
  margin-top: 21px;
}

nav ul li {
	display: inline;
}

ul {
  margin-right: 2.1rem;
}

nav ul li a {
	font-family: 'Qanelas-SemiBold', 'sans-serif';
	font-size: 1.6em;
  letter-spacing: 0.03em;
	color: $color-black_min;
  text-decoration: none;
  margin-top: 9px
}

nav ul li a:hover {
	color: $color-black;
  transition: .2s;
}

.cta {
  color: white;
  background-color: $color-red;
  border-radius: 6px;
  padding: 10px;
  margin-left: 24px;
}

.cta:hover {
  color: white;
  background-color: darken( $color-red, 5% );
  transition: .2s;
}

.leftbox {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }
  .logos {
    display: none;
  }
}

@media (max-width: 673px) {
}

@media (max-width: 433px) {
    .logo {
      display: flex;
      float: none;
    margin: 1.5em auto 0 auto;
  }
  .topnav {
    margin-top: 1.5em;
  }
  nav ul li a {
      font-size: 1.6em;
    }

  .leftbox {
    display: flex;
    justify-content: center;
  }
}
