@import "variables";

nav {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  height: 60px;
  border-bottom: 2px solid $color-gray;
  z-index: 1000;
}


.logo {
	background-image: url(img/logo.svg);
	background-repeat: no-repeat;
	height: 40px;
	width: 177px;
	float: left;
  margin-top: 1.1em;
  // margin-bottom: 0.9em;
  margin-left: 2.4em;
	cursor: pointer;
  transition: .2s, ease-in-out;
}

.logo:hover {
	background-image: url(img/logo_hover.svg);
	background-repeat: no-repeat;
  height: 40px;
	width: 177px;
}

.topnav {
  margin-top: 21px;
}

nav ul li {
	display: inline;
}

ul {
  margin-right: 2.1rem;
}

nav ul li a {
	font-family: 'Qanelas-SemiBold', 'sans-serif';
	font-size: 1.6em;
  letter-spacing: 0.03em;
	color: $color-black_min;
  text-decoration: none;
  margin-top: 9px;
  border-radius: 6px;
  padding: 10px;
  margin-left: 24px;
  transition: .2s, ease-in-out;
}

nav ul li a:hover {
	color: $color-black;
  background-color: rgba(0,0,0,0.1)
}

.cta {
  color: white;
  background-color: $color-red;
}

.cta:hover {
  color: white;
  background-color: darken( $color-red, 5% );
}

.leftbox {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }
  .logos {
    display: none;
  }
}

@media (max-width: 550px) {
  nav ul li {
  	display: none;
  }
}

@media (max-width: 433px) {
  .logo {
    display: flex;
    float: none;
    margin: 1.5em auto 0 auto;
  }
  // .topnav {
  //   margin-top: 1.5em;
  // }
  // nav ul li a {
  //     font-size: 1.6em;
  //   }
  //
  // .leftbox {
  //   display: flex;
  //   justify-content: center;
  // }
}
