// Custom variables
@import "variables";
@import "grid";
@import "header";
@import "footer";
@import "fonts";

html {
  font-size: 62.5%;
  font-family: 'Qanelas-Regular', sans-serif;
  box-sizing: border-box;
  height: 100%;
}

body {
	font-size:99%;
  background-color: white;
  margin: 0;
  height: 100%;
}

.main {
  min-height: calc(100vh - 40px);
}

::selection {
    background: lighten($color-blue, 30%);
 }

.background-gray {
  background-color: $color-gray;
  margin-top: 24px;
}

////////////////////////////////////////////////////////////////////////////////
//Responsive images abd video
////////////////////////////////////////////////////////////////////////////////
.img-responsive {
 display: block;
 max-width: 100%;
 height: auto;
}

.center-block {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.delimitador{
	width:100%;
	margin:auto;
}
.contenedor{
	height:0px;
	width:100%;
	/*max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
	padding-top:56.25%; /* Relación: 16/9 = 56.25% */
	position:relative;
}

iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}

////////////////////////////////////////////////////////////////////////////////
//Main image and slogan
////////////////////////////////////////////////////////////////////////////////
.leadimage {
  margin-top: 62px;
  background: linear-gradient(to bottom, $color-blue 491px, white 25px);
}

.slogan {
  z-index: 100;
  position: absolute;
  top: 62px;
}

.maiimage {
  position: relative;
}

.palybtn {
  position: absolute;
  z-index: 1000;
  display: block;
  font-size: 1.6em;
  background-color: $color-black;
  opacity: 0.7;
  padding-top: 0.9rem;
  padding-bottom: 0.8rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  left: 47.5%;
  top: 38.5%;
  text-align: center;
  width: 4em;
  transition: .2s, ease-in-out;
}

.palybtn:hover {
  background-color: $color-red;
  opacity: 1;
}
////////////////////////////////////////////////////////////////////////////////
//Chambers
////////////////////////////////////////////////////////////////////////////////
.thumbs {
  border: 3px solid $color-gray;
  margin-bottom: 14px;
  transition: .2s, ease-in-out;
  box-sizing: border-box;
}

a.imgbtn .thumbs:hover {
  opacity: 0.8;
}

.spacer {
  height: 24px;
}

.addpading {
  margin-left: 3px;
}

.morebtn {
  display: block;
  font-family: 'Qanelas-Regular', 'sans-serif';
  font-size: 1.6em;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
  border: 1px solid $color-red;
  border-radius: 6px;
	color: $color-red;
  text-decoration: none;
	cursor: pointer;
  margin-top: 46px;
	text-align: center;
	width: 12em;
  transition: .2s, ease-in-out;
}

.morebtn:hover {
	background-color: $color-red;
	color: $color_gray;
}

.morebtnmobile {
  display: none;
  font-family: 'Qanelas-Regular', 'sans-serif';
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
  border: 1px solid $color-red;
  border-radius: 6px;
	color: $color-red;
  text-decoration: none;
	cursor: pointer;
	text-align: center;
	width: 12em;
  transition: .2s, ease-in-out;
}

.morebtnmobile:hover {
	background-color: $color-red;
	color: $color_gray;
}

.bottombtn {
  display: block;
  font-family: 'Qanelas-Regular', 'sans-serif';
  font-size: 1.6em;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
  border: 1px solid $color-red;
  border-radius: 6px;
	color: $color-red;
  text-decoration: none;
	cursor: pointer;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
	text-align: center;
	width: 9em;
  transition: .2s, ease-in-out;
}

.bottombtn:hover {
	background-color: $color-red;
	color: $color_gray;
}

////////////////////////////////////////////////////////////////////////////////
//More
////////////////////////////////////////////////////////////////////////////////
.icons {
  height: 16.8em;
  width: 28.6em;
  display: block;
  margin: 0 auto;
}
////////////////////////////////////////////////////////////////////////////////
//Type
////////////////////////////////////////////////////////////////////////////////
h1 {
  font-family: 'Qanelas-Black', 'sans-serif';
  font-size: 3.6em;
  line-height: 130%;
  margin-bottom: 0;
	color: $color-black;
  padding-left: 96px;
  padding-top: 0;
}

.subtitle {
  font-family: 'Qanelas-Regular', 'sans-serif';
  font-size: 2.4em;
  padding-left: 96px;
}

h2 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 1.8em;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 12px;
}

h3 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 2.4em;
  color: $color-blue;
  line-height: 120%;
  margin-top: 21px;
}

.info {
  font-family: 'Qanelas-Light', 'sans-serif';
  font-size: 1.8em;
  line-height: 150%;
  color: $color-black;
}

.ekstrainformation {
  font-family: 'Qanelas-Regular', 'sans-serif';
  line-height: 200%;
  font-size: 1.6em;
  color: $color-black;
  text-align: center;
}

hr {
  border-top: 1px solid $color-gray;
}

////////////////////////////////////////////////////////////////////////////////
//Responsive
////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1249px) {
  .leadimage {
  background: linear-gradient(to bottom, $color-blue 479px, white 20px);
  }
}
@media (max-width: 1199px) {
  .leadimage {
  background: linear-gradient(to bottom, $color-blue 403px, white 20px);
  }
  h1 {
    font-size: 3.6em;
    line-height: 110%;
    margin-top: 21px;
    padding-left: 78px;
  }
  .subtitle {
    font-size: 2.1em;
    padding-left: 78px;
  }
  h3 {
    font-size: 2.1em;
    line-height: 120%;
    margin-top: 21px;
    margin-bottom: 18px;
  }
  .info {
    font-size: 1.6em;
  }
  .morebtn {
    margin-top: 24px;
    font-size: 1.4em;
  }
  .icons {
    height: 12.8em;
    width: 24.6em;
  }
  .thumbs {
    margin-bottom: 0;
  }
}

@media (max-width: 991px){
  h1 {
    font-size: 2.8em;
    line-height: 120%;
    margin-top: 16px;
    padding-left: 68px;
  }
  .subtitle {
    font-size: 1.8em;
    padding-left: 68px;
  }
  .leadimage {
  background: linear-gradient(to bottom, $color-blue 346px, white 20px);
  }
  h3 {
    margin-top: 8px;
    margin-bottom: 14px;
  }
  .morebtn {
    margin-top: 18px;
    font-size: 1.4em;
  }
  .bottombtn {
    font-size: 1.4em;
  }
}

@media (max-width: 851px) {
  h1 {
  }
  .leadimage {
  background: linear-gradient(to bottom, $color-blue 309px, white 20px);
  }
  h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .spacer {
    height: 12px;
  }
  .background-gray {
    margin-top: 14px;
  }
  h3 {
    text-align: center;
  }
  .info {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 18px;
  }
  .morebtn {
    display: none;
  }
  .bottombtn  {
    font-size: 1.6em;
  }
  .morebtnmobile {
    display: block;
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
  }
}
