// Custom variables
@import "variables";
@import "grid";
@import "header";
@import "footer";
@import "fonts";

// * {
//   -webkit-transition: .2s;
//   -moz-transition: .2s;
//   -ms-transition: .2s;
//   -o-transition: .2s;
//   transition: .2s;
// }

html {
  font-size: 62.5%;
  font-family: 'Qanelas-Regular', sans-serif;
  box-sizing: border-box;
}

body {
	font-size:99%;
  background-color: white;
  margin: 0;
}

::selection {
    background: lighten($color-blue, 30%);
 }

.background-gray {
  background-color: $color-gray;
  margin-top: 24px;
}

////////////////////////////////////////////////////////////////////////////////
//Responsive images abd video
////////////////////////////////////////////////////////////////////////////////
.img-responsive {
 display: block;
 max-width: 100%;
 height: auto;
}

.center-block {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.delimitador{
	width:100%;
	margin:auto;
// 	margin-bottom: 3.5em;
}
.contenedor{
	height:0px;
	width:100%;
	/*max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
	padding-top:56.25%; /* Relación: 16/9 = 56.25% */
	position:relative;
}

iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}

////////////////////////////////////////////////////////////////////////////////
//Main image and slogan
////////////////////////////////////////////////////////////////////////////////
.leadimage{
  margin-top: 62px;
  background: linear-gradient(to bottom, $color-blue 491px, white 25px);
}

#splash_screen {
  cursor: pointer;
}

.slogan {
  z-index: 100;
  position: absolute;
  top: 62px;
}

.maiimage {
  position: relative;
}

.palybtn {
  position: absolute;
  z-index: 100;
  display: block;
  font-size: 1.6em;
  background-color: $color-black;
  opacity: 0.5;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 17% 35%;
  text-align: center;
  width: 4em;
  transition: .2s;
}

.palybtn:hover {
  background-color: $color-red;
  opacity: 1;
}

////////////////////////////////////////////////////////////////////////////////
//Chambers
////////////////////////////////////////////////////////////////////////////////
.thumbs {
  background-color: $color-gray;
  border: 3px solid $color-gray;
  margin-bottom: 24px;
  transition: .2s;
}

a.imgbtn .thumbs:hover {
  opacity: 0.8;
}

.spacer {
  height: 24px;
}

.morebtn {
  display: block;
  font-family: 'Qanelas-Regular', 'sans-serif';
  font-size: 1.6em;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
  border: 1px solid $color-red;
  border-radius: 6px;
	color: $color-red;
  text-decoration: none;
	cursor: pointer;
  margin-top: 46px;
	text-align: center;
	width: 12em;
  transition: .2s;
}

.morebtn:hover {
	background-color: $color-red;
	color: $color_gray;
}

.bottombtn {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  width: 9em;
}

//
// .logos {
//   display: flex;
//   justify-content: space-between;
// }
//
// .logos_two_row1 {
//   display: none;
// }
//
// .logos_two_row2 {
//   display: none;
// }
//
// a.branding:hover {
//   -webkit-filter: grayscale(1);
//   -moz-filter: grayscale(1);
//   -ms-filter: grayscale(1);
//   -o-filter: grayscale(1);
//   filter: grayscale(1);
// }
//
// .brandlinks, .brandlinks:visited {
//   color: $color-red;
//   text-decoration: none;
//   transition: .2s;
// }
//
// .brandlinks:hover {
//   color: darken( $color-red, 10% );
// }


////////////////////////////////////////////////////////////////////////////////
//More
////////////////////////////////////////////////////////////////////////////////
.icons {
  height: 16.8em;
  width: 28.6em;
  display: block;
  margin: 0 auto;
}
////////////////////////////////////////////////////////////////////////////////
//Type
////////////////////////////////////////////////////////////////////////////////

h1 {
  font-family: 'Qanelas-Black', 'sans-serif';
  font-size: 3.6em;
  line-height: 130%;
  margin-bottom: 0;
	color: $color-black;
  padding-left: 96px;
  padding-top: 0;
}

.subtitle {
  font-family: 'Qanelas-Regular', 'sans-serif';
  font-size: 2.4em;
  padding-left: 96px;
}

h2 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 2.4em;
  color: $color-black;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 21px;
}

h3 {
  font-family: 'Qanelas-Bold', 'sans-serif';
  font-size: 2.4em;
  color: $color-blue;
  line-height: 120%;
  margin-top: 21px;
}

.info {
  font-family: 'Qanelas-Light', 'sans-serif';
  font-size: 1.8em;
  line-height: 150%;
  color: $color-black;
}

.ekstrainformation {
  font-family: 'Qanelas-Regular', 'sans-serif';
  line-height: 200%;
  font-size: 1.6em;
  color: $color-black;
  text-align: center;
}

hr {
  border-top: 1px solid $color-gray;
}

////////////////////////////////////////////////////////////////////////////////
//Responsive
////////////////////////////////////////////////////////////////////////////////


// @media (max-width: 967px) {
//   .partsimage {
//     height: 450px;
//   }
//   // .slogans {
//   //   top: 190px;
//   // }
// }
// @media (max-width: 847px) {
//   .partsimage {
//     height: 400px;
//   }
//   .logos {
//     display: none;
//   }
//   .logos_two_row1 {
//     display: flex;
//     justify-content: space-around;
//     margin-bottom: 3em;
//   }
//   .logos_two_row2 {
//     display: flex;
//     justify-content: space-around;
//   }
// }
//
// @media (max-width: 673px) {
//   h1 {
//     font-size: 2.4em;
//   }
//
//   h2 {
//     font-size: 1.7em;
//   }
//   .slogans {
//     padding-top: 60px;
//   }
//   .gray {
//     width: 288px;
//   }
//   .red {
//     width: 250px;
//   }
//   .partsimage {
//     height: 350px;
//   }
//   .logo {
//     height: 7.2em;
//     width: 8.7em;
//   }
//   .logo:hover {
//     height: 7.2em;
//     width: 8.7em;
//   }
//   .logos_two_row1, .logos_two_row2 {
//     display: block;
//     padding-left: 70px;
//     padding-right: 70px;
//   }
//   .dln {
//     margin-bottom: 4em;
//   }
//   .branddescription {
//     padding-top: 1rem;
//   }
//   #map-canvas {
//     height: 30em;
//   }
// }

// @media (max-width: 433px) {
//   .logo {
//     height: 5em;
//     width: 6.5em;
//   }
//   .logo:hover {
//     height: 5em;
//     width: 6.5em;
//   }
// }
