<section class="container-fluid">


<h2>Барокамери изработени от нас</h2>
 <hr>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col col--4-of-12">
        <h3>Двукорпусна, двуотсечна барокамера</h3>
        <p class="info">Произведена за<br>МЦ Оксилайф-София</p>
        <a href="#" class="morebtn">Технически Параметри</a>
    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image1.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image1.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image2.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image2.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image3.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image3.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image4.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image4.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image5.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image5.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image6.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image6.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image7.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image7.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/1stchamber/1stchamber_image8.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/1stchamber/1stchamber_image8.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

  </div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col col--4-of-12">
        <h3>Двукорпусна, двуотсечна барокамера</h3>
        <p class="info">Произведена за <br>МЦ „Баромедик“ Варна.</p>
        <a href="#" class="morebtn">Технически Параметри</a>
    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/2ndchamber/2ndchamber_image1.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/2ndchamber/2ndchamber_image1.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/2ndchamber/2ndchamber_image2.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/2ndchamber/2ndchamber_image2.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/2ndchamber/2ndchamber_image3.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/2ndchamber/2ndchamber_image3.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/2ndchamber/2ndchamber_image4.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/2ndchamber/2ndchamber_image4.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/2ndchamber/2ndchamber_image5.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/2ndchamber/2ndchamber_image5.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>
</div>
</div>
<hr>

<div class="container">
  <div class="row">
    <div class="spacer"></div>
    <div class="col col--4-of-12">
        <h3>Едно местна Барокамера</h3>
        <p class="info">Произвесена за<br>Черноморски водолазен център.</p>
        <a href="#" class="morebtn">Технически Параметри</a>
    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/3rdchamber/3rdchamber_image1.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/3rdchamber/3rdchamber_image1.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12">

        <a href="img/barochambers/3rdchamber/3rdchamber_image2.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/3rdchamber/3rdchamber_image2.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>

    <div class="col col--4-of-12 col col--push-4-of-12">

        <a href="img/barochambers/3rdchamber/3rdchamber_image3.jpg" class="imgbtn" target="_self"><img src="img/barochambers/thumbs/3rdchamber/3rdchamber_image3.jpg" class="img-responsive center-block thumbs" alt="click for full size"></a>

    </div>


</section>
