<!DOCTYPE html>
<html lang="bg">
<head>
	<!-- @reload -->
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<title><!-- $title --></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Внос, продажба на едро и дребно. Авточасти за европейски, японски и корейски автомобили.">
	<meta name="keywords" content="Авточасти, Внос и продажба на авточати, Авточасти за европейски автомобили, Авточасти за японски автомобили,
	 Авточасти за корейски автомобили, Авточасти за Форд, Авточасти за FORD,">
	<meta name="author" content="Боро Ауто">
	<!-- Le styles -->
	<link href="css/main.css" rel="stylesheet">
