<!DOCTYPE html>
<html lang="bg">
<head>
	<!-- @reload -->
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<title><!-- $title --></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Производство и доставка на Барокамери. Съобразени с Вашите изисквания.">
	<meta name="keywords" content="баракомери, barochamber, хипербарна, терапия">
	<meta name="author" content="Breeze ltd">
	<!-- Le styles -->
	<link href="css/main.css" rel="stylesheet">
