<section class="container-fluid background-gray">
  <div class="container">
    <div class="row">
      <div class="col col--12-of-12 col--centered>">
        <h2>Предлагаме още</h2>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Доставка</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Учител</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Екста</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Екста</p>
      </div>
    </div>

    <div class="spacer"></div>
<div class="spacer"></div>
    <div class="row">
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Доставка</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Учител</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Екста</p>
      </div>
      <div class="col col--3-of-12">
        <img class="icons" src="../img/icons/breeze.svg" alt="">
        <p class="ekstrainformation">Екста</p>
      </div>
    </div>
<div class="spacer"></div>
  </div>
</section>
