<section class="container-fluid">
  <div class="leadimage">
    <div class="container">
      <div class="row">
        <div class="col col--12-of-12">
          <div class="delimitador" id="youtube_video_parent" style="display:none">
            <div class="contenedor">
             <div id="youtube_video"></div>
              <!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/BPnF9EYFblE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
            </div>
          </div>
          <div class="delimitador2" id="splash_screen">
            <!--
            <div class="contenedor">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/BPnF9EYFblE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            -->
            <div class="slogan">
              <h1>Производство и доставка.</h1>
              <p class="subtitle">Барокамери, съобразена с Вашите изисквания.</p>
              <img src="/img/main_image.jpg" class="img-responsive center-block" alt="" />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
